{% extends ('base.html.twig') %}
    {% block body %}
        <!-- Page Title
        ============================================= -->
        <section id="page-title" class="page-title-parallax page-title-dark page-title-right"
                 style="padding: 250px 0; background-image: url('images_kat/kat_background.jpg'); background-size: cover; background-position: center center;"
                 data-bottom-top="background-position:0px 750px;" data-top-bottom="background-position:0px -500px;">
            <div class="container clearfix">
                <h1>Greg Vignali</h1>
                <span>Musiciens</span>
            </div>
        </section><!-- #page-title end -->
        <!-- Page Title Mobile
        ============================================= -->
        <section id="page-title-mobile" class="page-title-parallax-mobile page-title-dark page-title-right"
                 style="padding: 250px 0; background-image: url('images_kat/kat_background.jpg'); background-size: cover; background-position: center center;"
                 data-bottom-top="background-position:-300px 440px;"
                 data-top-bottom="background-position:-300px -500px;">
            <div class="container clearfix">
                <h1>Greg Vignali</h1>
                <span>Musiciens</span>
            </div>
        </section><!-- #page-title end -->
        <!-- Content
        ============================================= -->
        <section id="content">
            <div class="content-wrap">
                <div class="container présentation_kat clearfix">
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <h3>Qui est Kat ?</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa repellendus adipisci
                                laborum
                                placeat delectus labore cupiditate deserunt minus numquam consequatur esse, hic at earum
                                illo
                                animi eaque et, dolorem quo qui eos? Quam rerum possimus maxime veniam aut ratione
                                eveniet
                                aliquid cumque aspernatur ipsum libero quaerat, nam. Ad, sunt, error!
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Page Title
                ============================================= -->
                <div class="section parallax dark bottommargin-lg"
                     style="background-image: url('images_kat/kat_background2.jpg'); background-size: cover; padding: 100px 0;"
                     data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -500px;">
                    <div class="container clearfix">
                        <h1>Yann Bertho</h1>
                        <span>Musiciens</span>
                        {# <div class="col_one_fourth nobottommargin center" data-animate="swing">
                            <i class="i-plain i-large divcenter nobottommargin icon-time"></i>
                            <div class="counter counter-lined"><span data-from="10" data-to="80" data-refresh-interval="50" data-speed="4000" data-comma="true"></span>+</div>
                            <h5>Hours per Week</h5>
                        </div>

                        <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="200">
                            <i class="i-plain i-large divcenter nobottommargin icon-code"></i>
                            <div class="counter counter-lined"><span data-from="100" data-to="25841"
                                                                     data-refresh-interval="50"
                                                                     data-speed="2500" data-comma="true"></span></div>
                            <h5>Lines of Code</h5>
                        </div>

                        <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="400">
                            <i class="i-plain i-large divcenter nobottommargin icon-briefcase"></i>
                            <div class="counter counter-lined"><span data-from="100" data-to="923"
                                                                     data-refresh-interval="50"
                                                                     data-speed="3500" data-comma="true"></span></div>
                            <h5>Projects Completed</h5>
                        </div>

                        <div class="col_one_fourth nobottommargin center col_last" data-animate="bounceIn" data-delay="600">
                            <i class="i-plain i-large divcenter nobottommargin icon-dribbble2"></i>
                            <div class="counter counter-lined"><span data-from="25" data-to="214" data-refresh-interval="30" data-speed="2700" data-comma="true"></span></div>
                            <h5>Shots on Dribbble</h5>
                        </div> #}
                    </div>
                </div>
                <!-- Page Title Mobile
                ============================================= -->
                <div class="section parallax-mobile dark bottommargin-lg"
                     style="background-image: url('images_kat/kat_background2.jpg'); background-size: cover; padding: 100px 0;"
                     data-bottom-top="background-position:800px 0px;"
                     data-top-bottom="background-position:800px -250px;">
                    <div class="container clearfix">
                        <div class="col_one_fourth nobottommargin center" data-animate="swing" data-delay="200">
                            <h1>Yann Bertho</h1>
                            <span>Musiciens</span>
                        </div>
                        {# <div class="col_one_fourth nobottommargin center" data-animate="swing">
                                <i class="i-plain i-large divcenter nobottommargin icon-time"></i>
                                <div class="counter counter-lined"><span data-from="10" data-to="80" data-refresh-interval="50" data-speed="4000" data-comma="true"></span>+</div>
                                <h5>Hours per Week</h5>
						    </div>

                        <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="200">
                            <i class="i-plain i-large divcenter nobottommargin icon-code"></i>
                            <div class="counter counter-lined"><span data-from="100" data-to="25841"
                                                                     data-refresh-interval="50"
                                                                     data-speed="2500" data-comma="true"></span></div>
                            <h5>Lines of Code</h5>
                        </div>

                        <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="400">
                            <i class="i-plain i-large divcenter nobottommargin icon-briefcase"></i>
                            <div class="counter counter-lined"><span data-from="100" data-to="923"
                                                                     data-refresh-interval="50"
                                                                     data-speed="3500" data-comma="true"></span></div>
                            <h5>Projects Completed</h5>
                        </div>

						<div class="col_one_fourth nobottommargin center col_last" data-animate="bounceIn" data-delay="600">
							<i class="i-plain i-large divcenter nobottommargin icon-dribbble2"></i>
							<div class="counter counter-lined"><span data-from="25" data-to="214" data-refresh-interval="30" data-speed="2700" data-comma="true"></span></div>
							<h5>Shots on Dribbble</h5>
						</div> #}
                    </div>
                </div>

                <div class="clear"></div>

                <div class="fslider testimonial testimonial-full bottommargin" data-animation="fade"
                     data-arrows="false">
                    <div class="flexslider">
                        <div class="slider-wrap">
                            <div class="slide">
                                <div class="testi-image">
                                    <a href="#"><img src="images/testimonials/3.jpg" alt="Customer Testimonails"></a>
                                </div>
                                <div class="testi-content">
                                    <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia
                                        eaque. Repellendus, vero numquam?</p>
                                    <div class="testi-meta">
                                        Steve Jobs
                                        <span>Apple Inc.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="testi-image">
                                    <a href="#"><img src="images/testimonials/2.jpg" alt="Customer Testimonails"></a>
                                </div>
                                <div class="testi-content">
                                    <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos
                                        obcaecati id culpa corporis molestias.</p>
                                    <div class="testi-meta">
                                        Collis Ta'eed
                                        <span>Envato Inc.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="testi-image">
                                    <a href="#"><img src="images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                                </div>
                                <div class="testi-content">
                                    <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam
                                        cum libero illo rerum!</p>
                                    <div class="testi-meta">
                                        John Doe
                                        <span>XYZ Inc.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container clearfix">

                    <!-- Post Content
                    ============================================= -->

                    <!-- Posts
                    ============================================= -->
                    <div id="posts" class="small-thumbs alt">

                        <div class="entry clearfix">
                            <div class="entry-image">
                                <a href="images/blog/full/17.jpg" data-lightbox="image"><img class="image_fade"
                                                                                             src="images/blog/small/17.jpg"
                                                                                             alt="Standard Post with Image"></a>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h2><a href="blog-single.html">This is a Standard post with a Preview Image</a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i> 10th Feb 2014</li>
                                    <li><a href="#"><i class="icon-user"></i> admin</a></li>
                                    <li><i class="icon-folder-open"></i> <a href="#">General</a>, <a href="#">Media</a>
                                    </li>
                                    <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
                                    <li><a href="#"><i class="icon-camera-retro"></i></a></li>
                                </ul>
                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores
                                        quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus
                                        voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus officia
                                        eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at
                                        eveniet veritatis ab facere.</p>
                                    <a href="blog-single.html" class="more-link">Read More</a>
                                </div>
                            </div>
                        </div>

                    </div><!-- #posts end -->


                </div>

                <div class="container clearfix">

                    <!-- Post Content
                    ============================================= -->

                    <h3>Dernière MusiK</h3>

                    <iframe width="100%" scrolling="no" frameborder="no"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/115823769&amp;auto_play=false&amp;hide_related=true&amp;visual=true"></iframe>

                </div><!-- .postcontent end -->


                <div class="container clearfix">

                    <!-- Post Content
                    ============================================= -->

                    <h3>Dernière VidéoK</h3>

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/SZEflIVnhH8" frameborder="0"
                            allowfullscreen></iframe>

                </div><!-- .postcontent end -->


                <div class="container clearfix">

                    <div class="divider"><i class="icon-circle"></i></div>

                </div>

                <div id="portfolio"
                     class="portfolio portfolio-5 portfolio-nomargin portfolio-full portfolio-notitle clearfix"
                     style="margin-bottom: -80px !important;">
                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="images_kat/Greg_sol_dièse_crop_resize.jpg" alt="Greg_G#">
                            </a>
                            <div class="portfolio-overlay">
                                <a href="images_kat/Greg_sol_dièse.jpg" class="left-icon" data-lightbox="image"><i
                                            class="icon-line-plus"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single.html">Open Imagination</a></h3>
                            <span><a href="#">Media</a>, <a href="#">Icons</a></span>
                        </div>
                    </article>
                    <article class="portfolio-item pf-illustrations">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="images_kat/Kat_Bass_crop_resize.jpg" alt="Locked Steel Gate">
                            </a>
                            <div class="portfolio-overlay">
                                <a href="images_kat/Kat_Bass.jpg" class="left-icon" data-lightbox="image"><i
                                            class="icon-line-plus"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single.html">Locked Steel Gate</a></h3>
                            <span><a href="#">Illustrations</a></span>
                        </div>
                    </article>
                    <article class="portfolio-item pf-graphics pf-uielements">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="images_kat/Kat_guitare_et_violoncelle_crop_resize.jpg" alt="Mac Sunglasses">
                            </a>
                            <div class="portfolio-overlay">
                                <a href="images_kat/Kat_guitare_et_violoncelle.jpg" class="left-icon"
                                   data-lightbox="image"><i
                                            class="icon-line-plus"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single-video.html">Mac Sunglasses</a></h3>
                            <span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span>
                        </div>
                    </article>
                    <article class="portfolio-item pf-icons pf-illustrations">
                        <div class="portfolio-image">
                            <a href="portfolio-single-gallery.html"><img
                                        src="images_kat/Kat_White_and_Black_crop_resize.jpg" alt="Morning Dew"></a>
                            <div class="portfolio-overlay" data-lightbox="gallery">
                                <a href="images_kat/Kat_White_and_Black_crop.jpg" class="left-icon"
                                   data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                <a href="images_kat/Kat_White_and_Black.jpg" class="hidden"
                                   data-lightbox="gallery-item"></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single-gallery.html">Morning Dew</a></h3>
                            <span><a href="#">Icons</a>, <a href="#">Illustrations</a></span>
                        </div>
                    </article>
                    <article class="portfolio-item pf-uielements pf-media">
                        <div class="portfolio-image">
                            <a href="portfolio-single.html">
                                <img src="images_kat/kat_infrarouge_crop_resize.jpg" alt="Console Activity">
                            </a>
                            <div class="portfolio-overlay">
                                <a href="images_kat/kat_infrarouge.jpg" class="left-icon" data-lightbox="image"><i
                                            class="icon-line-plus"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3><a href="portfolio-single.html">Console Activity</a></h3>
                            <span><a href="#">UI Elements</a>, <a href="#">Media</a></span>
                        </div>
                    </article>
                </div><!-- #portfolio end -->
            </div>
        </section><!-- #content end -->
        <!-- Content ============================================= -->


    {% endblock %}



