{% extends ('base.html.twig') %}
    {% block body %}
        <!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Media Embeds</h1>
				<span>Embedding media elements will be more Easier &amp; Reliable</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Shortcodes</a></li>
					<li class="breadcrumb-item active" aria-current="page">Media Embeds</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Post Content
					============================================= -->
					<div class="postcontent nobottommargin clearfix">



						{% for music in musics %}
							<h3>{{music.titre}}</h3>

							{{ music.embed|raw }}


							<div class="divider"><i class="icon-circle"></i></div>
						{% endfor %}



					</div><!-- .postcontent end -->

					<!-- Sidebar
					============================================= -->

					{% include 'include/sidebar.html.twig' %}

	{% endblock %}
